.article__title{
    padding-left: 32px;
    color: #031927;
}

.article__content{
    text-indent: 32px;
}


body {
    background: #031927;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card {
    width: 100vh;
    display: block;
    padding: 0 auto;
}

.person {
    background: #ffffff;
    max-width: 624px;
    width: 100%;
    border-radius: 16px;
    margin: 16px;
    flex-flow: row wrap;
    padding: 10px;
    
}

.history{
flex-flow: row wrap;
}

.history__article{
color: #C8E0F4;
}

.history__title{
    
}

.Person__importantInformation{
color: #BA1200;
}

.personarticle__header{
    max-width: 524px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.person__details{
    
}

.person__description {
    font-size: 16px;
    line-height: 22px;
}

.person__description--info {
    font-size: 16px;
    color: #508AA8;
}

.person__link {
    font-size: 16px;
}

.person__link--service {
    color: #BA1200;
    text-decoration: none;
}

.person__name {
    font-style: italic;
    font-size: 36px;
    margin-bottom: 0;
}

.person__position {
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
    line-height: 0px;
    color: #545454;
}

.person__photo {
    border-radius: 100%;
    padding: 32px;
    min-width: 148px;
    min-height: 148px;
    width: 12px;
    height: 100%;
    float: left;
}


.summerJJ{
    max-width: 300px;
    padding: 32px;
    width: 100%;
    float: right;
}

.waproKnightJJ{
    max-width: 300px;
    padding: 32px;
    width: 100%;
    float: left;
}

.jarJJ{
    max-width: 300px;
    padding: 32px;
    width: 100%;
    float: right;
}

.alcoholicJJ{
    max-width: 300px;
    padding: 32px;
    width: 100%;
    float: left;
}